body{
 background-color: black;
 color: yellow;
 font-family: 'Quicksand', sans-serif;
 background-image: url('grid.png');
 background-repeat: repeat;
}
#game {
  background: #FF6A00;
  opacity: .8;
  display: block;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
  margin-top: 20px;
}
.styled-text{
  font-family: 'Quicksand', sans-serif;
}
h1{
  text-align: center;
  font-size: 80px;
  margin: 5px;
}
.colored{
  color: yellow;
}
.left_right{
  cursor: url(left_right_arrows.png), auto;
}
.up_down{
  cursor: url(up_down_arrows.png), auto;
}
#game_over, #next_level {
  display: none;
}

#game_start, #game_over, #next_level {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: #ff0000 ;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
 #game_over, #next_level {
   padding-top: 200px;
 }
 #game_start{
   padding-top: 50px;
 }
 #orientation_button{
   border: 1px solid #fff;
   padding: 20px;
   width: 100px;
   margin: auto;
   margin-top: 10px;
   border-radius: 5px;
   background-color: rgba(255,255,255,0.3);
   cursor: pointer;
 }
#game_start_button, #play_again_button, #next_level_button {
  border: 1px solid #fff;
  padding: 20px;
  width: 100px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.3);
  cursor: pointer;
}
#game_start_button:hover, #play_again_button:hover, #next_level_button:hover {
background-color: rgba(255,255,255,0.7);
}
#new_canvas_size {
  color: #fff;
  font-size: 24px;
}
#new_canvas_size span {
  font-weight: bold;
  color: #fff;
}
.container{
  text-align: center;
}
.info{
  display: inline-block;
  margin-right: 15px;
  color: white;
}

@media only screen and (max-device-width: 600px) {
		#orientation_button {
			display: block;
		}
	}
